[Unit]
Description=Pytaku scheduler
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="PYTHONUNBUFFERED=1"
Restart=on-abnormal
User=pytaku
Group=pytaku
WorkingDirectory=/opt/pytaku/workdir
ExecStart=/opt/pytaku/venv/bin/pytaku-scheduler

[Install]
WantedBy=multi-user.target
