# this goes in /etc/systemd/system/pytaku.service
[Unit]
Description=Pytaku server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal
User=pytaku
Group=pytaku
WorkingDirectory=/home/pytaku/pytaku
ExecStart=/bin/bash -c 'export PATH=$PATH:$HOME/.local/bin; pytaku -w 10 -b 0.0.0.0:5001'

[Install]
WantedBy=multi-user.target
