# this goes in /etc/systemd/system/pytaku.service
[Unit]
Description=Pytaku server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal
User=pytaku
Group=pytaku
WorkingDirectory=/opt/pytaku/workdir
ExecStart=/bin/bash -c 'export PATH=$PATH:/opt/pytaku/venv/bin; pytaku -w 10 -b 0.0.0.0:8000'

[Install]
WantedBy=multi-user.target
