[flake8]
ignore =
    E501 # long line - taken care of by black already
    E266 # too many leading '#' for block comment - wtf?
    C901 # mccabe - I'll judge how complex my code is thank you very much
    W503 # line break before binary operator - Incompatible with black/pep8
