[tool.poetry]
name = "pytaku"
version = "0.3.31"
description = "Self-hostable web-based manga reader"
authors = ["Bùi Thành Nhân <hi@imnhan.com>"]
license = "AGPL-3.0-only"
packages = [
    { include = "pytaku", from = "src" },
    { include = "mangoapi", from = "src" },
]
# Compiled js bundle dir is in gitignore, which poetry also reads.
# Therefore, it needs to be specifically whitelisted here:
include = ["src/pytaku/static/js/*"]

[tool.poetry.scripts]
pytaku = "pytaku:serve"
pytaku-dev = "pytaku:dev"
pytaku-migrate = "pytaku:migrate"
pytaku-generate-config = "pytaku:generate_config"
pytaku-scheduler = "pytaku:scheduler"

[tool.poetry.dependencies]
python = "^3.7"
flask = "^1.1.2"
gunicorn = "^20.0.4"
requests = "^2.24.0"
goodconf = "^1.0.0"
argon2-cffi = "^20.1.0"

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"
ipdb = "^0.13.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 88
target-version = ['py37']
