[tool.poetry]
name = "pytaku"
version = "0.1.0"
description = ""
license = "MIT"
authors = ["Bùi Thành Nhân <hi@imnhan.com>"]
packages = [
    { include = "pytaku", from = "src" },
    { include = "pytaku_web", from = "src" },
]

[tool.poetry.scripts]
pytaku-manage = "pytaku:manage"
pytaku-generate-config = "pytaku:generate_config"
pytaku-generate-psql-envars = "pytaku:generate_psql_envars"

[tool.poetry.dependencies]
python = "^3.7"
django = "^3.0.5"
psycopg2 = "^2.8.5"
goodconf = "^1.0.0"
requests = "^2.23.0"
beautifulsoup4 = "^4.9.0"
lxml = "^4.5.0"

[tool.poetry.dev-dependencies]
python-language-server = "^0.31.10"
flake8 = "^3.7.9"
ipdb = "^0.13.2"
black = "^19.10b0"
isort = "^4.3.21"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
