{% extends 'base.html' %}

{% block title %}
Ch.{{ number }} - {{ name }}
{% endblock %}

{% block head %}
<style>
  html {
    background-color: #444;
    color: white;
  }

  .content {
    max-width: 100%;
    padding: var(--body-padding) 0;
    text-align: center;
  }

  .cover {
    width: 400px;
    border: 1px solid black;
  }

  .pages img {
    display: block;
    margin: 0 auto 1rem auto;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .buttons > * {
    margin-right: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
  }
  .buttons > *:last-child {
    margin-right: 0;
  }
</style>
{% endblock %}

{% block content %}

<h1>Ch.{{ number }}: {{ name }}</h1>

{# Put buttons in block to reuse later in this same template #}
{% block buttons %}
<div class="buttons">
{{ ibutton(href='#TODO', left_icon='chevrons-left', text='Previous') }}
{{ ibutton(left_icon='eye', text='Reading', color='green') }}
{{ ibutton(href='#TODO', right_icon='chevrons-right', text='Next') }}
</div>
{% endblock %}

<div class="pages">
  {% for page in pages %}
  <img src="{{ page }}" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  {% endfor %}
</div>

{{ self.buttons() }}

{% endblock %}
