{% extends 'base.html' %}

{% block title %}
  {% if query %}
    "{{ query }}" search results
  {% else %}
    Search
  {% endif %}
{% endblock %}

{% block head %}
<style>
  .site-heading {
    text-transform: capitalize;
  }
  .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .result {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid var(--bg-black);
    margin: 0 1rem 1rem 0;
    background-color: var(--bg-black);
    color: white;
    text-decoration: none;
    max-width: 150px;
  }
  .result span {
    padding: .5rem;
    width: 0;
    min-width: 100%;
  }

  .result-text {
    margin-bottom: 1rem;
  }
</style>
{% endblock %}

{% block content %}

{% if not query %}
  <h1>Please enter a search query above.</h1>

{% else %}
{% for site, titles in results.items() %}
<div>
  <h1 class="site-heading">{{ site }}</h1>

  {% if titles %}
  <h2 class="result-text">Showing <strong>{{ titles | length }}</strong> result(s) for "{{ query }}":</h2>
  {% else %}
  <h2 class="result-text">No results for "{{ query }}".</h2>
  {% endif %}

  <div class="results">
  {% for title in titles %}
    <a class="result" href="{{ url_for('title_view', title_id=title['id'], site=title['site']) }}"
       title="{{ title['name'] }}">
      <img src="{{ title['thumbnail'] }}" alt="{{ title['name'] }}">
      <span>{{ title['name'] | truncate(50) }}</span>
    </a>
  {% endfor %}
  </div>
</div>
{% endfor %}
{% endif %}


{% endblock %}
